:root {
    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-s: 12px;
    --line-height: 1.15em;
    --charcoal-dark: rgba(255, 255, 255);
    --charcoal-semi: rgba(255, 255, 255);
    --charcoal-light: rgba(255, 255, 255);
    --yellow-full: rgba(255, 255, 255);
    --green-full: rgba(255, 255, 255);

}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
    topmargin: 0;
    leftmargin: 0;
    rightmargin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-weight: 400;
}

nav {
    position: fixed;
    transform-origin: left top;
    transform: rotate(-90deg)
    translateX(-100%);
    width: 100vh;
    height: 50px;
    z-index: 100;
    mix-blend-mode: exclusion;
}

nav > ul {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > ul > li {
    height: 50px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 1;
    flex-flow: row wrap;
}

nav > ul > li > a{
      flex:1;
      display: block;
      color: white;
      text-shadow: 0 0 3px #FFFFFF;
    }

.logo-image{

   overflow: hidden;
   margin-left: -2em;
   margin-right: 1em;
   margin-top: 0;
   display: inline;
   max-height: 50px;
   max-width: 50px;

   filter: drop-shadow(1px 1px 1px rgb(255 255 255 / 1));
}

/*nav > ul > li:nth-of-type(3), nav > ul > li:nth-of-type(4) {
    float: right;
}*/

nav a:not(#home) {
    text-decoration: none;
    color: white;
}

#home {
    font-size: var(--font-size-l);
    font-weight: 800;
    color: white;
}

section {
    min-height: 50vh;
    padding: 2em;
}

section:first-of-type {
    padding-top: 5.5em;
}

section:nth-of-type(even) {
    background-color: var(--yellow-full);
}

section:nth-of-type(odd) {
    background-color: white;
}

section:last-of-type {
    padding: 2em 2em;
    background-color: var(--green-full);
}

#projects article {
    position: relative;
    display: inline-block;
    width: calc(50% - (var(--font-size-s)/2));
    height: 600px;
    padding: 2em;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
}

#projects article > p{
color: black;
position: absolute;
border-radius: calc(0.4em + 15px);
padding: 8px 9px;
background-color: white;
border-style: solid;
border-color: black;
}

#projects article:nth-of-type(odd) {
    margin: 0 calc(var(--font-size-s)/2) var(--font-size-s) 0;
}

#projects article:nth-of-type(even) {
    margin: 0 0 var(--font-size-s) calc(var(--font-size-s)/2);
}


#projects > article > img {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;

    height: auto;
    width: 100%;
    margin: auto;
    transform: translate(-50%, -50%);
    transition: width 1s linear;
    z-index: 90;
}

#projects > article > img:hover {
    cursor: pointer;
    width: 102.5%;

}

img + p {
    position: absolute;
    color: var(--yellow-full);
    z-index: 99;
}


#work {
  position: absolute;
  height: auto;
  background-color: black;
  padding-left: 5em;
}


#work > p{
  width: auto;
  margin-right: auto;
  margin-top: 5em;
  max-width: 70%;
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 100px;
  word-wrap:break-word;
}


#work > img {
    position: relative;
    display: grid;
    place-items: center;
    height: auto;
    width: 50%;
    margin: auto;
    transition: width 1s linear;
    z-index: 90;
}

div{
  margin-bottom: 30px;
}

#resume {
    color: white;
    padding-left: 0;
    background-color: black;
    margin-bottom: calc(var(--font-size-m) * 5);
}

h1 {
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2em;
    margin-left: calc(var(--font-size-m) * 7);
    margin-top: calc(var(--font-size-m) * 5);
}

.resume-content {
    margin: 1em 0 2em 0;
    list-style: none;
}

.resume-content-item {
    font-size: var(--font-size-m);
    line-height: calc(var(--line-height) * 1.7);
    padding-left: 10em;
    padding-right: auto;
}

#resume > article:last-of-type > .resume-content {
    margin-bottom: 0;
}

#main{
  width: auto;
  height: 100vh;
  background-color: black;
  display: flex;
    justify-content: center;
  padding: 0;

  overflow: hidden;
  margin: auto;
}

#main > img{
  max-width: auto;
  height: 100vh;
  display: block;
  background-color: black;
  margin: auto;
}

#projects {
    background-color: black;
    margin-left: 5em;
}

#footer-button {
    background-color: white;
    padding: 10px;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
    border-radius: 50px;
    border: 1px solid black;
}

::-moz-selection {
    color: var(--yellow-full);
    background-color: var(--charcoal-dark);
}

::selection {
    color: var(--yellow-full);
    background-color: var(--charcoal-dark);
}

.resume-content-item[data]::after {
    content: attr(data);
    font-size: var(--font-size-s);
    margin-left: 1em;
    line-height: 1em;
    color: var(--purple-full);
}

h1[data]::after {
    content: attr(data);
    margin-left: 0.25em;
}

#projects article[data]:hover::before {
    content: attr(data);
    z-index: 99;
    margin-top: 2.5em;
    color: var(--yellow-full);
    position: absolute;
    border-radius: calc(0.4em + 15px);
    padding: 8px 8px;
    background-color: black;
    border-style: solid;
    border-color: white;
}

#special-cube > a {
    display: block;
    height: 100%;
}

#special-cube:target {
    background-color: var(--yellow-full);
}

*[data="selected"] {
    background-color: var(--purple-full);
}


*[href^="mailto"] {
    margin: 1em 0;
    padding: 1em;
    display: block;
    /*background-color: var(--yellow-full);*/
    border: 2px solid var(--green-full);
    border-radius: 2px;
}

*[href^="#"] {
    padding: 0;
    border: none;
}

input[type="text"] {
    line-height: 2em;
    background-color: white;
    border-radius: 50px;
}

p ~ span {
    color: var(--purple-full);
}

span ~ p {
    margin-bottom: 1em;
}

li.list-item + li.list-item {
    color: var(--charcoal-light);
}



#footer-list {
    list-style: none;
}

.column {
    padding: 5em;
    flex: 1;
}

section > footer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: content-box;
    border-radius: 4px;
}

form {
    position: relative;
    display: block;
}

form > * {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
    margin: 0 0 0.75em 0;
    padding: 0.25em 0;
}

form > input, form > textarea {
    border-radius: 50px;
    border: 1px solid black;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

textarea {
    resize: none;
}


iframe {
  position: relative;
  display: grid;
  place-items: center;
  height: 50em;
  margin: auto;
  transition: width 1s linear;
  z-index: 90;
  margin-bottom: 100px;
}

a:link {
  color : white;
  text-decoration: none;
}
a:visited {
  color : white;
  text-decoration: none;
}
a:hover {
  color : yellow;
  text-decoration: underline;
}
a:active {
  color : white;
  text-decoration: none;
}

@media ( max-width: 768px ) {

  #projects {
      background-color: black;
    }

  #projects article {
      position: relative;
      display: inline-block;
      width: calc(100% - (var(--font-size-s)/8));
      height: 20em;
      display: flex;
      justify-content: center;
      padding-top: 1em;
      box-sizing: border-box;
      overflow: hidden;
      background-color: black;
  }
  #projects article > p{
  color: black;
  position: absolute;
  border-radius: calc(0.4em + 16px);
  padding: 4px 4px;
  background-color: white;
  border-style: solid;
  border-color: black;
  max-width: 200px;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  text-align: center;

  }

  #projects article[data]:hover::before {
      content: attr(data);
      z-index: 99;
      margin-top: 10em;
      color: var(--yellow-full);
      position: absolute;
      border-radius: calc(0.4em + 16px);
      padding: 4px 4px;
      background-color: black;
      border-style: solid;
      border-color: white;
      max-width: 300px;
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      text-align: center;
  }

  #projects article:nth-of-type(odd) {
      margin: 10px calc(var(--font-size-s)/1) 10px;
  }

  #projects article:nth-of-type(even) {
      margin: 10px calc(var(--font-size-s)/1) 10px;
  }

}


#work {
  position: absolute;
  height: auto;
  background-color: black;
  padding-left:8em;
}

#work > img {
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    margin-left: 0;
    height: auto;
    width: 90%;
    transition: width 1s linear;
    z-index: 90;
}

#work > p{
  width: auto;
  margin-right: auto;
  margin-top: 5em;
  max-width: 90%;
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 100px;
  word-break: keep-all;
}

.column {
    padding: 2em;
    flex: 1;
}
