:root {
    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-s: 12px;
    --line-height: 1.15em;
    --charcoal-dark: rgba(51, 51, 51, 1);
    --charcoal-semi: rgba(51, 51, 51, 0.6);
    --charcoal-light: rgba(51, 51, 51, 0.2);
    --yellow-full: rgba(229, 176, 255, 1);
    --green-full: rgba(255, 255, 255, 1);
    --purple-full: rgba(0, 0, 0, 1);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-weight: 400;
}

nav {
    position: fixed;
    top: 0;
    left: 0em;
    right: 0em;
    padding: 1em;
    margin-top: 1em;
    box-sizing: border-box;
    z-index: 100;

}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    margin: 0 1em 0 0;
    border-radius: calc(0.4em + 15px);
    padding: 8px 9px;
    background-color: white;
    box-shadow: 0 0 10px white;
}

nav > ul > li:hover {
  background-color: rgba(229, 176, 255, 1);
}

nav > ul > li:nth-of-type(3), nav > ul > li:nth-of-type(4) {
    float: right;
}

nav a:not(#home) {
    text-decoration: none;
    color: black;
}

#home {
    font-size: var(--font-size-l);
    font-weight: 400;
    color: black;
}

section {
    min-height: 50vh;
    padding: 2em;
}

section:first-of-type {
    padding-top: 5.5em;
}

section:nth-of-type(even) {
    background-color: var(--yellow-full);
}

section:nth-of-type(odd) {
    background-color: white;
}

section:last-of-type {
    padding: 2em 2em;
    background-color: var(--green-full);
}

#projects article {
    position: relative;
    display: inline-block;
    width: calc(50% - (var(--font-size-s)/2));
    height: 600px;
    padding: 2em;
    background-color: var(--charcoal-dark);
    box-sizing: border-box;
    overflow: hidden;
}

#projects article > p{
color: var(--yellow-full);
position: absolute;
border-radius: calc(0.4em + 15px);
padding: 8px 9px;
background-color: black;
}

#projects article:nth-of-type(odd) {
    margin: 0 calc(var(--font-size-s)/2) var(--font-size-s) 0;
}

#projects article:nth-of-type(even) {
    margin: 0 0 var(--font-size-s) calc(var(--font-size-s)/2);
}

section > footer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: content-box;
    border-radius: 4px;
}

#projects > article > img {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    min-height: 100%;
    height: auto;
    width: 100%;
    margin: auto;
    transform: translate(-50%, -50%);
    transition: width 1s linear;
    z-index: 90;
}

#projects > article > img:hover {
    cursor: pointer;
    width: 102.5%;
    opacity: 0.7;
}

img + p {
    position: absolute;
    color: var(--yellow-full);
    z-index: 99;
}


#work {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: black;
}

#work > p{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 70%;
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.3em;
  margin-bottom: 100px;
  word-break: keep-all;
  padding-left: 2em;
  display: inline-block;
}

#work > img {
    position: relative;
    display: grid;
    place-items: center;
    height: auto;
    width: 60%;
    margin: auto;
    transition: width 1s linear;
    z-index: 90;
}

div{
  margin-bottom: 30px;
}

#resume {
    color: black;
    padding-left: 0;
}

h1 {
    font-weight: 400;
    font-size: 2em;
    line-height: 0.8em;
    margin-left: calc(var(--font-size-m) * 2);
}

.resume-content {
    margin: 1em 0 2em 0;
    list-style: none;
}

.resume-content-item {
    font-size: var(--font-size-m);
    line-height: calc(var(--line-height) * 1.2);
    border-bottom: 1px solid black;
    padding-left: 2em;
    padding-right: 0;
}

#resume > article:last-of-type > .resume-content {
    margin-bottom: 0;
}


#projects {
    background-color: black;
}

#footer-button {
    background-color: white;
    padding: 10px;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
    border-radius: 50px;
    border: 1px solid black;
}

::-moz-selection {
    color: var(--yellow-full);
    background-color: var(--charcoal-dark);
}

::selection {
    color: var(--yellow-full);
    background-color: var(--charcoal-dark);
}

.resume-content-item[data]::after {
    content: attr(data);
    font-size: var(--font-size-s);
    margin-left: 1em;
    line-height: 1em;
    color: var(--purple-full);
}

h1[data]::after {
    content: attr(data);
    margin-left: 0.25em;
}

#projects article[data]:hover::before {
    content: attr(data);
    z-index: 99;
    margin-top: 2.5em;
    color: var(--yellow-full);
    position: absolute;
    border-radius: calc(0.4em + 15px);
    padding: 8px 8px;
    background-color: black;
}

#special-cube > a {
    display: block;
    height: 100%;
}

#special-cube:target {
    background-color: var(--yellow-full);
}

*[data="selected"] {
    background-color: var(--purple-full);
}


*[href^="mailto"] {
    margin: 1em 0;
    padding: 1em;
    display: block;
    /*background-color: var(--yellow-full);*/
    border: 2px solid var(--green-full);
    border-radius: 2px;
}

*[href^="#"] {
    padding: 0;
    border: none;
}

input[type="text"] {
    line-height: 2em;
    background-color: white;
    border-radius: 50px;
}

p ~ span {
    color: var(--purple-full);
}

span ~ p {
    margin-bottom: 1em;
}

li.list-item + li.list-item {
    color: var(--charcoal-light);
}



#footer-list {
    list-style: none;
}

.column {
    padding: 1em;
    flex: 1;
}

form {
    position: relative;
    display: block;
}

form > * {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-m);
    line-height: var(--line-height);
    margin: 0 0 0.75em 0;
    padding: 0.25em 0;
}

form > input, form > textarea {
    border-radius: 50px;
    border: 1px solid black;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

textarea {
    resize: none;
}


iframe {
  position: relative;
  display: grid;
  place-items: center;
  height: 50em;
  margin: auto;
  transition: width 1s linear;
  z-index: 90;
  margin-bottom: 100px;
}

a:link {
  color : white;
  text-decoration: none;
}
a:visited {
  color : white;
  text-decoration: none;
}
a:hover {
  color : yellow;
  text-decoration: underline;
}
a:active {
  color : white;
  text-decoration: none;
}

@media ( max-width: 768px ) {
  #projects article {
      position: relative;
      display: inline-block;
      width: calc(100% - (var(--font-size-s)/1));
      height: 20em;
      padding: 2em;
      background-color: var(--charcoal-dark);
      box-sizing: border-box;
      overflow: hidden;
  }

  #projects article:nth-of-type(odd) {
      margin: 10px calc(var(--font-size-s)/1) 10px;
  }

  #projects article:nth-of-type(even) {
      margin: 10px calc(var(--font-size-s)/1) 10px;
  }

}

#work > img {
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    height: auto;
    width: 80%;
    transition: width 1s linear;
    z-index: 90;

}

#work > p{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 70%;
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.3em;
  margin-bottom: 100px;
  word-break: keep-all;
  padding-left: 2em;
  display: inline-block;
}
